/*-----------section 2---------------------*/
.section-2{
    background: url(../img/pic02.jpg);
    margin-top:50px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: $color1;
    display: flex;
    grid-template-columns: 50% 50%;

    .image-2_3{
        border-right: solid 1px $color2;
        h5{
            color: $color2;
        margin: 20px auto 50px;
        font-size: 1rem;
        font-family: $font2;
        }
        h3{
            color: $color2;
        margin: 20px auto 50px;
        font-size: 1rem;
        font-family: $font2;
        }
        p{
            color: $color2;
            font-size: 0.9rem;
            margin: 20px 10% 0px 10% ;
            line-height: 30px;
        }
        .img-right{
            background: url(../img/pic03.jpg);
            height: 400px;
            width: 80%;
            margin: 0 auto;
           }
        .img-left{
            background: url(../img/pic02.jpg);
            height: 400px;
            width: 80%;
            margin: 0 auto;
            border-right: solid 1px $color2;
            }

    }

}