// Reglages generaux
@font-face {
    font-family: "font1";
    src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "font2";
    src: url(../fonts/Merriweather-Light.ttf);
}
$font1:font1;
$font2:font2;
$color1:white;
$color2:black;
$color3:whitesmoke;

//MIXINS (variable "center" avec plusieurs reglages)
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;   
}
body{
    margin: 0 auto;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
